body {
    background: #eee;
    color: #3d3d3d;
    margin: 0px;
    font-family: 'Advent pro';
}

#vlozenie div {
    margin: 15px 0 15px 4%;
    padding: 2%;
    background: #fff;
    width: 40%;
    float: left;
}

#vlozenie .gray {
    background: #cacaca;
    width: 300px;
    padding: 20%;
    min-height: 100px;
}

#vlozenie .red {
    background: red;
    width: 80%;
    margin: 8%;
    padding: 2%;
}